namespace: fleet-staging

global:
  imagePullPolicy: Always
  
driver:
  replicaCount: 1
  image:
    repository: muhammedsafry/fleet-driver-service
    tag: "3-550ed50"
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 8080
    targetPort: 8080

maintenance:
  replicaCount: 1
  image:
    repository: muhammedsafry/fleet-maintenance-service
    tag: "3-550ed50"
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 5001
    targetPort: 5001

vehicle:
  replicaCount: 1
  image:
    repository: muhammedsafry/fleet-vehicle-service
    tag: "1"
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 7001
    targetPort: 8080
