namespace: fleet-staging

driver:
  replicaCount: 1
  image:
    repository: muhammedsafry/fleet-driver-service
    tag: "1"
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 8080
    targetPort: 8080
  env:
    SPRING_PROFILES_ACTIVE: "staging"

maintenance:
  replicaCount: 1
  image:
    repository: muhammedsafry/fleet-maintenance-service
    tag: "1"
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 5001
    targetPort: 5001
  env:
    FLASK_ENV: "staging"
    FLASK_APP: "run.py"
    PYTHONUNBUFFERED: "1"

vehicle:
  replicaCount: 1
  image:
    repository: muhammedsafry/fleet-vehicle-service
    tag: "1"
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 7001
    targetPort: 8080
  env:
    ASPNETCORE_ENVIRONMENT: "Staging"
    ASPNETCORE_URLS: "http://+:8080"
    CORS_ORIGINS: "*"
    ConnectionStrings__DefaultConnection: ""
