namespace: fleet-staging

postgres:
  host: postgres
  port: 5432
  # driver DB
  driverDb: fleet
  driverUser: postgres
  driverPass: postgres

  # maintenance DB
  maintenanceDb: fleet
  maintenanceUser: postgres
  maintenancePass: postgres

  # vehicle DB
  vehicleDb: fleetdb
  vehicleUser: fleetuser
  vehiclePass: fleetpass

driver:
  replicaCount: 1
  image:
    repository: muhammedsafry/fleet-driver-service
    tag: "2-f51bb4e"
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 8080
    targetPort: 8080
  env:
    SPRING_PROFILES_ACTIVE: "staging"

maintenance:
  replicaCount: 1
  image:
    repository: muhammedsafry/fleet-maintenance-service
    tag: "2-f51bb4e"
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 5001
    targetPort: 5001
  env:
    # IMPORTANT: set this to a config key that exists in your Flask app.
    # If you don't have "staging" in config dict, use "development" or "production".
    FLASK_ENV: "development"
    FLASK_APP: "run.py"
    PYTHONUNBUFFERED: "1"

vehicle:
  replicaCount: 1
  image:
    repository: muhammedsafry/fleet-vehicle-service
    tag: "2-f51bb4e"
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 7001
    targetPort: 8080
  env:
    ASPNETCORE_ENVIRONMENT: "Staging"
    ASPNETCORE_URLS: "http://+:8080"
    CORS_ORIGINS: "*"
