apiVersion: apps/v1
kind: Deployment
metadata:
  name: vehicle-service
  namespace: {{ .Values.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vehicle-service
  template:
    metadata:
      labels:
        app: vehicle-service
    spec:
      containers:
        - name: vehicle
          image: "{{ .Values.services.vehicle.image }}:{{ .Values.services.vehicle.tag }}"
          ports:
            - containerPort: 8080
