apiVersion: v1
kind: Service
metadata:
  name: fleet-frontend-svc
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: fleet-frontend
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 3000
      protocol: TCP
      name: http
  type: {{ .Values.service.type }}
